.navbar-dbz {
  background-color: #FF6600 !important; /* Este es un naranja estilo traje de Goku */
}

#offcanvasNavbarLabel {
    color: #ff9900 !important; 
}

.btn-outline-success {
    color: rgb(8, 7, 8) ; 
    border-color: #0b0a0b !important;
    background-color: darkblue !important;
}

.btn-outline-secondary {
    color: #090000 ; 
    border-color: #090000 !important;
    background-color: darkblue !important;
}